<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${TituloPagina}"></title>
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/app/home}">One Piece</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/app/home}">Inicio <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/listar}">Lista Personaje</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/app/crear}">Crear Personaje</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

	</header>


	<footer th:fragment="footer">		
		<small> J98 -  Todos los derechos reservados</small>	
		<script src="/bootstrap/jquery.slim.min.js"></script>
		<script src="/bootstrap/bootstrap.bundle.min.js"></script>		
	</footer>

</body>
</html>