<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${TituloPagina}"></title>
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>
<body>

	<header th:replace="/layout :: header"></header>

	<div class="container mt-2">
		<div class="jumbotron">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<br>
			<p class="lead" th:text="${Mensaje}"></p>

			<hr class="my-4">
			<div class="jumbotron">
				<div class="list-group mt-2" th:each="personaje : ${listita}">
						<div class="card" style="width: 18rem;">
							<img th:src="@{/UploadsImg/}+${personaje.uriImagen}" class="card-img-top" th:alt="${personaje.uriImagen}">
							
							<div class="card-body">
								<h5 class="card-title" th:text="${personaje.nombres}"></h5>

								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:text="${personaje.alias}"></li>
									<li class="list-group-item" th:text="${personaje.tipoFruta}"></li>
								</ul>

								<a th:href="@{/app/Editar/}+${personaje.idPersonaje}" class="btn btn-success">Editar</a> 
								<a th:href="@{/app/Elimnar/}+${personaje.idPersonaje}"  class="btn btn-danger">Eliminar</a>
							</div>
						</div>
				</div>
			</div>

		</div>

	</div>


	<script src="/bootstrap/jquery.slim.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.min.js"></script>


</body>
</html>
